.input-container
{
   display: flex;
   padding: 15px 20px;
   border-radius: 5px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   font-size: 16px;
   background: #123c39;
   margin-bottom: 15px;
}

::placeholder {
   color: gray;
   opacity: 1; 
 }

 input
 {
   background: unset;
   border: unset;
   flex: 1 1 0;
 }
 
 input:focus{
   outline: none;
}

*:focus {
   outline: none;
}

.deploy-button-container
{
   button
   {
      width: 100%;
      padding: 4px 0;
   }
   margin-top: 20px;
   margin-bottom: 20px;
}

.back-icon
{
    color: white;
    margin-bottom: 4vh;
    cursor: pointer;
}

:host
{
   width: 28rem;
   color: white;
}

.spinner-container
{
   display: flex;
   justify-content: center;
}