:host
{
   width: 18rem;
}

.deploy-button-container
{
   margin-top: 20px;
   margin-bottom: 20px;
   button
   {
      width: 100%;
      padding: 4px 0;
      color: white;
      border-color: white !important;
   }
}