<div class="deploy-button-container">
    <button class="mat-stroked-button-color"
    mat-stroked-button
    appDebounceClick
    routerLink="/utility/nep17">
    Create NEP17 Token Contract
    </button>
</div>

<div class="deploy-button-container">
    <button class="mat-stroked-button-color"
    mat-stroked-button
    appDebounceClick
    routerLink="/pool/create">
    Create New Liquidity Pool
    </button>
</div>

<div class="deploy-button-container">
    <button class="mat-stroked-button-color"
    mat-stroked-button
    appDebounceClick
    routerLink="/utility/lock-liquidity">
    Lock Liquidity
    </button>
</div>

<div class="deploy-button-container">
    <button class="mat-stroked-button-color"
    mat-stroked-button
    appDebounceClick
    routerLink="/utility/liquidity-earning">
    Provide Liquidity Pool Staking Rewards
    </button>
</div>
